﻿@* ************ Footer partial view template *************@
<footer class=" footer">
    <div class="container footer-content-div no-padding">
        <div class="col-md-12 no-padding footer-content">
            <div class="col-md-3 padding-10">
                <div class="col-md-12 footer-title">Company</div>
                <div class="col-md-12">@Html.ActionLink("About", "About", "Home")</div>
                <div class="col-md-12"><a href="#">Terms Of Service</a></div>
                <div class="col-md-12"><a href="#">Privacy Policy</a></div>
                <div class="col-md-12">@Html.ActionLink("Contact", "Contact", "Home")</div>
                <div class="col-md-12"><a href="#">FAQ</a></div>
                <div class="col0-md-12">&nbsp;</div>
                <div class="col-md-12 padding-10">
                    <a class="pull-left share-media"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="pull-left share-media"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a class="pull-left share-media"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a class="pull-left share-media"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="col-md-3 padding-10">
                <div class="col-md-12 footer-title">Useful Links</div>
                <div class="col-md-12"><a href="#">Home</a></div>
                <div class="col-md-12"><a href="#">Online Portal</a></div>
                <div class="col-md-12"><a href="#">Tender Creation</a></div>
                <div class="col-md-12"><a href="#">Document Sumission</a></div>
            </div>

            <div class="col-md-3 padding-10">
                <div class="col-md-12 footer-title">Products</div>
                <div class="col-md-12"><a href="#">Orbits</a></div>
                <div class="col-md-12"><a href="#">iSteler</a></div>
                <div class="col-md-12"><a href="#">Hikma</a></div>
            </div>

            <div class="col-md-3 padding-10">
                <div class="col-md-12 footer-title">Office Address</div>

                <div class="col-md-12">
                    ERA-InfoTech Limited<br />
                    Bengal Center (4th & 6th Floor), 28, Topkhana Road, Dhaka - 1000, Bangladesh.<br />
                    web: <a href="http://www.erainfotechbd.com" style="color:inherit">www.erainfotechbd.com</a>
                </div>

                <div class="col-md-12">&nbsp;</div>

                <div class="col-md-12 no-padding">
                    <div class="col-md-4 footer-logo">
                        <img src="../Content/Images/ERA.png" class="company-logo" />
                    </div>
                    <div class="col-md-8 footer-title"> ERA-InfoTech LTd </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 no-padding">
            <div class="col-md-12 footer-separator"></div>

            <div class="col-md-12 footer-copyright ">
                <div class="col-md-6 footer-copyright-left-align no-padding">
                    @*<img src="../Content/Images/ERA.png" class="company-logo" />*@
                    ©Copyrights 2017. All rights reserved by <a href="http://www.erainfotechbd.com" class=""><b>ERA-InfoTech Ltd</b></a>.
                </div>

                <div class="col-md-6 footer-copyright-right-align no-padding">
                    @*©Copyrights 2017. All rights reserved by <a href="http://www.erainfotechbd.com" class=""><b>ERA-InfoTech Ltd</b></a>.*@
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12">&nbsp;</div>
</footer>
