﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", required: false)
</head>
<body>
    @* ************ Nav Bar *************@
        <div class="navbar navbar-inverse navbar-fixed-top box-shadow menu-custom">
            <div class="container body-content">
                <div class="col-md-12 col-sm-12 no-padding col-xs-12">
                    <div class="navbar-header  col-xs-12 no-padding">
                        @Html.ActionLink("Era Info-Tech Ltd", "Index", "Home", null, new { @class = "navbar-brand" })
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="container-fluid no-padding" style="">
                            <div class="navbar-collapse collapse no-padding">
                                <ul class="nav navbar-nav">
                                    @if (HttpContext.Current.Session["ID"] != null)
                                    {
                                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@

                                    }
                                </ul>
                                <ul class="nav navbar-nav navbar-nav-custom">
                                    @{  if (HttpContext.Current.Session["ID"] == null)
                                        {

                                            <li>@Html.ActionLink("Login", "Login", "Auth") </li>
                                        }
                                        else
                                        {
                                            Html.RenderAction("NavbarMenu", "Home");
                                        }
                                        
                                        //if (HttpContext.Current.Session["ID"] == null)
                                        //{
                                        //    Response.Redirect("~/Auth/Login");

                                        //}
                                        
                                    }
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>



    <div class="container body-content body-content-height margin-top-10">
        @if (HttpContext.Current.Session["ID"] != null)
        {

            <div class="col-md-2 padding-left-right-5">  .
                @* Rendering Side bar if neccessary*@
                @{Html.RenderAction("SidebarMenu", "Home");}
            </div>
            <div class="col-md-10 padding-left-15-right-5">
                @*  Main body content will be rendered here *@
                @RenderBody()
            </div>

        }
        else
        {

            @RenderBody()

        }
    </div>

   
    
    <div class="footer-separator"></div>

    @*  Footer Template Render as partial view *@

    @Html.Partial("_Footer")


    @*  Footer Template Render as partial view *@
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
