﻿@model IEnumerable<MVCLayout.Models.Menubar>

@* Authorized Menu list for loged in user *@

@{if (Model != null)
{
    foreach (var item in Model)
    {
        if (item.ParentID == 0)
        {
            var getChildNode = Model.Where(p => p.ParentID == item.MenuID).ToList();
            <li class="dropdown">

                <a class="dropdown-toggle" href="#" data-toggle="dropdown">@item.MenuName <span class="caret"></span></a>

                <ul class="dropdown-menu" role="menu">
                    @foreach (var itemChild in getChildNode)
                    {
                        <li>
                            @Html.ActionLink(itemChild.MenuName, "Index", "Home")
                        </li>
                    }
                </ul>
            </li>

        }

    }

}

}


@* log out button if logged in *@
<li class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <img src="../Content/Images/Icon.jpg" alt="Sign Out" class="navbar-logo" style="padding:-10px;" />
    </a>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li class="col-md-12">
            <div>

            </div>
            <div>
                @HttpContext.Current.Session["Email"]
            </div>
            <div>
                @Html.ActionLink(" Logout", "Logout", "Auth")
            </div>
        </li>
    </ul>
</li>
