﻿@model IEnumerable<MVCLayout.Models.Menubar>

@************* Partial view for sidebar Menus ******************@
@* ********* Authorized Menus for Logged In User ****************@
<div class="navbar navbar-inverse white-space: nowrap box-shadow menu-custom">
    <div class="container no-padding">
        <div class="navbar-header">
            <div class="container-fluid">
                <ul class="nav navbar-nav padding-10">
                    @{if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                if (item.ParentID == 0)
                                {
                                    var getChildNode = Model.Where(p => p.ParentID == item.MenuID).ToList();
                                    <li>
                                        @item.MenuName
                                        <ul class="sidebar-ul">
                                            @foreach (var itemChild in getChildNode)
                                            {
                                                <li> @itemChild.MenuName </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        }
                    }
                </ul>

            </div>
        </div>
    </div>

</div>
