﻿@{
    ViewBag.Title = "Login";

}

<h5>&nbsp;</h5>

@using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "form-vertical", @role = "form", @onsubmit = "return validChapcha()" }))
{
    <div class="col-sm-offset-9 col-sm-3 ">
        <div class="panel panel-default">
            <div class="panel-heading custom-panel-heading">Login</div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Email</label>
                    <label class="col-md-9" style="color:red">&nbsp; @ViewBag.emailError </label>
                    <div class="col-md-12">
                        @Html.TextBox("email", null, new { @class = "form-control", @value = ViewBag.email, @autocomplete = "off" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Password</label>
                    <label class="col-md-9" style="color:red">&nbsp; @ViewBag.passwordError </label>
                    <div class="col-md-12">
                        @Html.Password("password", null, new { @class = "form-control", @autocomplete = "off" })
                    </div>
                </div>

                <div class="form-group  ">
                    <label class="col-md-12 col-xs-12 control-label">Captcha</label>
                    <div class="col-md-5 col-xs-1">
                        @Html.TextBox("captcha", null, new { @class = "form-control captcha", @autocomplete = "off" })
                    </div>

                    <div class="col-md-4 col-xs-8 no-padding captcha-background small-screen-captcha ">
                        <div class="captchalabelbackground box-shadow">
                            <input type="hidden" class="captchavalue" id="captchavalue" value="" />
                            <label class="col-md-12 control-label no-padding captchalabel captchalabelStyle"></label>
                        </div>

                    </div>
                    <div class="col-md-3 col-xs-3 small-screen-captcha ">
                        <button class="reloadbtn btn btn-default pull-right" tabindex="-1"><i class="glyphicon glyphicon-refresh"></i> </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">&nbsp;</label>
                    <div class="col-md-12">
                        <input id="submitbtn" type="submit" class="btn btn-block btn-info" value="Login" onclick="" />
                    </div>
                </div>
            </div>
        </div>



    </div>

}



@section scripts{
    <script>

        function validChapcha() {
            var validText = "";
            var captchaInput = "";
            validText = $("#captchavalue").val();
            captchaInput = $(".captcha").val();

            if (captchaInput == "") {
                alert("Enter valid Captcha!!!");
                return false;
            }

            console.log(validText + "==" + captchaInput);

            if (captchaInput == validText) {
                return true;
            }
            else {
                alert("Invalid Captcha!!!");
                $(".captcha").val("");
                setCaptcha();
                return false;
            }
        }

        function createCaptcha() {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
            for (var i = 0; i < 5; i++) {
                text += possible.charAt(Math.floor(Math.random() * possible.length));
            }

            return text;
        }

        function setCaptcha() {

            var text = createCaptcha();

            $(".captchalabel").html(text);
            $("#captchavalue").val(text);
        }

        $(document).ready(function () {
            setCaptcha();
        });


        $(".reloadbtn").on("click", function (e) {

            e.preventDefault();
            setCaptcha();

        });
    </script>

}


