﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Layout</h1>
    <p class="lead">MVC 5 Layout for default page. </p>
    <p class="lead">Authentication check with EF-6 for all device scalability.</p>
    <p class="lead">Navbar and Sidebar customization with EF-6 after authentication</p>
    <p></p>
</div>

