﻿body {
    
    padding-bottom: 0px;
    color:gray;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

.height-25{
    height:25px;
}

.margin-auto{
    margin:auto;
}
.share-media{
    padding: 0 5px;
    color:gray;
}

.margin-top-10{
    margin-top:10px;
}
.margin-left-15{
    margin-left: 15px;
}
.bg-color-gray{
    background-color:gray;
}
.box-shadow{
    box-shadow: 0px 0px 1px rgb(136, 136, 136);
}
.menu-custom{
    background-color: #FFFFFF !important;
border-color:#ffffff !important;
}
ul li a:hover,ul li a:focus{
    color:#808080 !important;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus
{
    color: #ffffff !important;
background-color: #808080 !important;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus
{
    color: #ffffff !important;
background-color: #808080 !important;
}
.navbar-toggle{
    background-color: #999 !important;
}

.navbar-nav-custom {
float:right !important;
}


.navbar-inverse .navbar-collapse, 
.navbar-inverse .navbar-form
{
    border-color: #999;
}

.padding-10{
    padding:10px;
}
.sidebar-ul{
    padding-left: 25px;
}
.padding-left-15-right-5{
    padding-left:15px;padding-right:5px;
}
.padding-left-right-5{
    padding-left:5px;padding-right:5px;
}

footer{
    float:left;
    bottom:0;
    width:100%;
    min-height: 18vh;
    color:#43515c;
    background-color:#f5f7f7;
}

.body-content-height{
    min-height: 58vh;
    width: 100%;
}

/* Footer Template css */

 .no-padding{
     padding: 0px !important;
 }

 .footer{
     background-color: #424242;
     color: #ffffff;
 }
 .footer-content-div{
     /*margin-left:13%;
     margin-right:13%;*/
     margin-top: 10px;
 }
 .footer-content{
     float:left;
     width: 100%;
     font-family: Arial, Helvetica sans-serif;
     font-size: 12px;
     color: #bcbec0;
 }
 .footer-title{
     color: #FFFFFF;
     font-size: 18px;
    /*font-weight: bold;*/
    
    /*text-decoration:underline;*/
 }

 .footer-separator{
     width: 100%;
     float:left;
     margin-top:10px;
     border-top: 1px solid #ededed;
 }
 .footer-logo{
     float: left;
     padding-top: 2px;
 }

 .footer-logo .company-logo{
     height:30px;
     width: 60px;
 }

 .footer-content a {
     color:inherit;
     text-decoration:none;
 }

 .footer-content a:hover{
     color:#252523;
     /*color:#459fed;*/
     text-decoration-style:none
 }

 .footer-copyright{
     float:left;
 }
 .footer-copyright-left-align{
     float:left;
 }
 .footer-copyright-right-align{
     float:right;
     text-align: right;
 }
 
 .footer-copyright a {
     text-decoration:none;
     color:inherit;
 }

 .container{
     width: 100% !important;
     max-width: 100% !important;
 }

.captchalabelStyle{
    font-size: 16px;
    font-style: italic;
    /*font-family: 'Times New Roman' sans-serif ;*/
    color: #723313;

}
.captcha-background{
     background-image:url("../Content/Images/captcha.jpg");
   background-repeat: repeat-y;
   background-size: inherit;
}
.captchalabelbackground {
    height: 100%;
    width: 100%;
    padding: 3px;
   
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
    color:#777;
}
.navbar-logo{
    border-radius:30px;
    height:18px;
    width:18px;
}

.custom-header {
    margin-top: 0px !important;
}  

.custom-panel-heading{
    color: #808080 !important;
    font-size: 16px !important;
    background-color: lightgray !important;
    border-color: lightgray !important;
}
 @media only screen and (max-width: 500px) {
    .body-content {
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-nav{
        padding:15px 3px;color:gray;
        margin:0px 0px;
        float:left;
        width:100%;
    }

    .container > .navbar-header, .container > .navbar-collapse{
        margin:0px;
    }

    .small-screen-captcha{
        margin-top:10px;
        padding-left:15px !important;
        padding-right: 15px !important;

    }
    .container-fluid{
        width:100%;
        float:right;
    }
}